.container {
    display: flex;
    justify-content: space-evenly;
    padding: 79px 0;
}

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 38%;
    padding-top: 32px;
}
.mainImage {
    display: flex;
    align-items: center;
    width: 38%;
}
.title {
    font-size: 58px;
    text-transform: uppercase;
}
.mainContent :nth-child(2) {
    margin-bottom: 20px;
}
.title2 {
    text-transform: uppercase;
    font-size: 85px;
    margin-bottom: 34px;
}
.title2.strong {
    font-weight: 900;
}
.description {
    font-size: 20px;
    margin-bottom: 85px;
}
.mainContent button {
    background: #2950EA;
    font-size: 20px;
    font-weight: 700;
    padding: 24px 61px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
.mainButton:hover {
    background: #3D57C9FF;
}
@media screen and (max-width: 1200px) {
    .container {
        flex-direction: column;
    }
    .mainContent {
        width: calc(100% - 60px);
        padding: 0 30px;
    }
    .title {
        font-size: 30px;
        font-weight: 700;
    }
    .title2 {
        font-size: 40px;
        margin-bottom: 21px;
    }
    .mainContent :nth-child(2) {
        margin-bottom: 15px;
    }
    .description {
        font-size: 16px;
        margin-bottom: 35px;
    }
    .mainContent button {
        padding: 14px 9px;
        font-size: 16px;
    }
    .mainImage {
        width: 100%;
        aspect-ratio: 1/1;
        background-image: url("../../assets/first-screen-mobile.png");
        background-size: 100%;
        background-repeat: no-repeat;
    }
    .mainimageImg {
        display: none;
    }
}
